* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Garante que a largura e altura incluam o preenchimento e a borda */
  }
  
  .banner {
    top: 0; /* Ajusta a div banner para o topo */
    width: 100%; /* Faz a div banner ocupar toda a largura */
    background-color: #6278f7;
    text-align: center;
  }
  
  .banner img {
    width: 100%; /* Faz a imagem ocupar toda a largura da div banner */
    display: block; /* Garante que a imagem não tenha espaçamento indesejado abaixo */
  }
  